body {
  margin: 0;
 font-family: 'Roboto', sans-serif;
  background: white;
  padding: 0px;
}

:root {
  --bg-color-primary: #1e81b0;
  --bg-color-secondary: #a4a4a4;
  --bg-color-tertiary: #EEE;
  --bg-color-shadow: #d0d0d0;
}